
body {
  font-family: "Lobster", serif;
  font-size: x-large;
    background-color: #b3b3cc;
    color: #363636;

  }
h1 {
  background-color: whitesmoke;
  text-align: center;
  border: 10px solid #363636;
}
h2 {
  background-color: whitesmoke;
  text-align: center;
  border: 10px solid #363636;
  font-size: smaller;
}